<div>
    <ul>
        <li *ngFor="let item of this.model.archive.items; index as index">
            <app-item [label]="item.name">
                <i>{{ item.history.prevDest | uppercase }}</i>
                <button (click)="restoreItem($event, index)">
                    <fa-icon size="lg" [icon]="fas.faUndo"></fa-icon>
                </button>
                <button (click)="deletePermanently($event, index)">
                    <fa-icon size="lg" [icon]="fas.faTrash"></fa-icon>
                </button>
            </app-item>
        </li>
    </ul>
</div>