<div>
    <ul *ngFor="let item of items">
        <li *ngIf="!item.editing" (click)="editItem(item.id)">
            <span>{{ item.name }}</span>
            <div class="organizeIcons">
                <fa-icon size="md" [icon]="fas.faInbox"></fa-icon>
                <fa-icon size="md" [icon]="fas.faInbox"></fa-icon>
            </div>
        </li>
        <li class="highlight" highlight *ngIf="item.editing">
            <input appAutofocus (blur)="clearEdits()" (keyup.enter)="clearEdits()" [(ngModel)]="item.name">
        </li>
    </ul>
    <button (click)="addItem()"><fa-icon size="lg" [icon]="fas.faPlus"></fa-icon></button>
</div>