<div>
    <!-- TODO: Add keyboard shortcuts, electron menu -->
    <!-- TODO: Tickler file with notifications -->
    <app-inbox 
        [(model)]="this.model" 
        *ngIf="activeDest === 'inbox'"></app-inbox>
    <app-archive
        [(model)]="this.model"
        *ngIf="activeDest === 'archive'"></app-archive>
    <app-next-actions
        [(model)]="this.model"
        *ngIf="activeDest === 'next-actions'"></app-next-actions>
    <app-projects
        [(model)]="this.model"
        *ngIf="activeDest === 'projects'"></app-projects>
    <app-waiting
        [(model)]="this.model"
        *ngIf="activeDest === 'waiting'"></app-waiting>
    <app-weekly-review 
        [(model)]="this.model"
        *ngIf="activeDest === 'weekly-review'"></app-weekly-review>
    <app-someday-maybe
        [(model)]="this.model"
        *ngIf="activeDest === 'someday-maybe'"></app-someday-maybe>
    <app-calendar
        [(model)]="this.model"
        *ngIf="activeDest === 'calendar'"></app-calendar>
</div>