$highlight: rgba(255,255,255,0.3);

ul {
    padding: 0;
    margin: 0;
}

.highlight {
    background-color: $highlight;
}

li {
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 2em 2em 2em 2em;
    width: calc(100% - 4em);

    &:hover {
        @extend .highlight;
    }
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &#add {
        margin: 2em 0 2em 2em;
    }

    &:hover {
        color: lighten($color: black, $amount: 33);
    }
}

.organizeIcons {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    white-space: nowrap;

    > fa-icon {
        padding: 0 1em 0 1em;
    }
}

.name {
    display: block;
    font-size: 18px;
    user-select: none;
    flex-shrink: 10;
    flex-grow: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flexbox {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
