<div>
    <ul *ngIf="activePlanning === undefined">
        <ng-container *ngFor="let project of model.projects.items; index as index">
            <app-item 
                *ngIf="currentlyEditing !== index"
                [label]="project.name.concat(' | ' + project.nextActions.length)"
                (click)="currentlyEditing = index"
                (contextmenu)="activePlanning = index">
                <button (click)="activePlanning = index">
                    <fa-icon size="lg" [icon]="fas.faFolderOpen"></fa-icon>
                </button>
                <button (click)="archiveProject($event, index)">
                    <fa-icon size="lg" [icon]="fas.faArchive"></fa-icon>
                </button>
            </app-item>
            <input 
                *ngIf="currentlyEditing === index"
                appAutofocus 
                (blur)="clearEdits()" (keyup.enter)="clearEdits()" 
                [(ngModel)]="project.name">
        </ng-container>
    </ul>
    <app-project-planning 
        *ngIf="activePlanning !== undefined"
        [(model)]="model"
        [projectId]="activePlanning"
        (exitPlanning)="activePlanning = undefined">
    </app-project-planning>
</div>